.product-name {
  margin-bottom: 25px;
}

.product-main-image {
  width: 100%;
  max-width: 450px;
  max-height: 650px;
  min-width: 50px;
}

.product-price {
  position: relative;
  color: $price-red;
  margin: 20px 0 ;
  .decimals {
      font-size: 15px;
      position: absolute;
      top: 0;
      margin-left: 10px;
      line-height: 15px;
  }
}

.product-form-container {
  margin: 20px 0;
}

.product-form {

  margin: 10px 0;

  .ch-form-row {
    padding: 0;
  }

  .ch-form-actions {
    margin: 0;
  }

  label {
    text-align: left;
    width: auto;
  }

  .product-form--notificacion {
    margin: 10px 0;
  }
}

.related-products-container {
  margin: 20px 0;
  .title {
    margin: 20px 0;
  }
}

.related-product-image {
  width: 110px;
  height: 110px;
  border: 1px solid black;
  padding: 5px;
}

.ch-carousel-pages {
  display: none;
}

.product-container {
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}